container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

form {
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 2 / auto;
  align-self: center;
}

input,
select,
textarea {
    display: grid;
    background-color: #fff;
    border-color: #e0e0e0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-style: solid;
    color: #474e57;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    width: 100%;
    height: 50px;
    margin-left: 2.5%;
    width: 94%;
    align-items: center;
}

label {
  margin-left: 2.5%;
  height: 20px;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  /* text-align: center; */
  margin: 5%;
  text-transform: uppercase;
}

p {
  text-decoration: underline;
}


.comments {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 2 /span 10;
  height: 275px;
  width: 70%;
  overflow: scroll;
  margin-top: 2%;
  border: 1px #e0e0e0 solid;
  justify-self: center;
  padding: 5%;
  margin-bottom: 4%;
  align-self: center;
}

h1 {
  display: grid;
  grid-column: 1 / span 2;
  justify-self: center;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.submitBtn {
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2.5%;
  width: 100%;
}

.submitBtn:hover {
      background-color: #008CBA;
      color: white;
 }


 .dltBtn {
	background-color:#af4242;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-style:italic;
	padding:5px 19px;
}

.dltBtn:active {
	position:relative;
	top:1px;
}
